## nlargest() and nsmallest() - to sort data in our dataframes

In [2]:
import pandas as pd

In [4]:
cols = ['Series_Title', 'IMDB_Rating', 'No_of_Votes']
movies = pd.read_csv('imdb_top_1000.csv', usecols=cols)
movies

                 Series_Title  IMDB_Rating  No_of_Votes
0    The Shawshank Redemption          9.3      2343110
1               The Godfather          9.2      1620367
2             The Dark Knight          9.0      2303232
3      The Godfather: Part II          9.0      1129952
4                12 Angry Men          9.0       689845
..                        ...          ...          ...
995    Breakfast at Tiffany's          7.6       166544
996                     Giant          7.6        34075
997     From Here to Eternity          7.6        43374
998                  Lifeboat          7.6        26471
999              The 39 Steps          7.6        51853

[1000 rows x 3 columns]

### .nlargest() 
- This method is eqvt to ```df.sort_values(columns, ascending=False).head(n)```, but more performant

In [5]:
movies.nlargest(n=10, columns=['No_of_Votes'])

,Series_Title,IMDB_Rating,No_of_Votes
0,The Shawshank Redemption,9.3,2343110
2,The Dark Knight,9.0,2303232
8,Inception,8.8,2067042
9,Fight Club,8.8,1854740
6,Pulp Fiction,8.9,1826188
11,Forrest Gump,8.8,1809221
14,The Matrix,8.7,1676426
10,The Lord of the Rings: The Fellowship of the Ring,8.8,1661481
5,The Lord of the Rings: The Return of the King,8.9,1642758
1,The Godfather,9.2,1620367

In [ ]:
movies.nlargest(n=10, columns=['IMDB_Rating', 'No_of_Votes'])   # Priority matters in the list how you put

                                    Series_Title  IMDB_Rating  No_of_Votes
0                       The Shawshank Redemption          9.3      2343110
1                                  The Godfather          9.2      1620367
2                                The Dark Knight          9.0      2303232
3                         The Godfather: Part II          9.0      1129952
4                                   12 Angry Men          9.0       689845
6                                   Pulp Fiction          8.9      1826188
5  The Lord of the Rings: The Return of the King          8.9      1642758
7                               Schindler's List          8.9      1213505
8                                      Inception          8.8      2067042
9                                     Fight Club          8.8      1854740

In [7]:
movies.nsmallest(n=10, columns=['No_of_Votes'])

                          Series_Title  IMDB_Rating  No_of_Votes
264                     Ba wang bie ji          8.1        25088
721                  God's Own Country          7.7        25198
694                 La planÃ¨te sauvage          7.8        25229
718  Scarface: The Shame of the Nation          7.8        25312
570                              Raazi          7.8        25344
785              The Magdalene Sisters          7.7        25938
989                   The Long Goodbye          7.6        26337
169                     Dom za vesanje          8.2        26402
814                      Do lok tin si          7.7        26429
863                          Cape Fear          7.7        26457

In [10]:
movies.nsmallest(n=10, columns=['IMDB_Rating', 'No_of_Votes'])   # Priority matters in the list how you put

            Series_Title  IMDB_Rating  No_of_Votes
989     The Long Goodbye          7.6        26337
998             Lifeboat          7.6        26471
971    Omohide poro poro          7.6        27071
981       On Golden Pond          7.6        27650
880             Nelyubov          7.6        29765
990         GiÃ¹ la testa          7.6        30144
920  The Secret of Kells          7.6        31779
984     The Muppet Movie          7.6        32802
986       Watership Down          7.6        33656
996                Giant          7.6        34075

- keep='first' means it will keep the first duplicates
- keep='last' means it will keep the last duplicates
- keep='all' means it will keep the all duplicates

In [13]:
movies.nlargest(n=10, columns=['IMDB_Rating'], keep='first')

                                    Series_Title  IMDB_Rating  No_of_Votes
0                       The Shawshank Redemption          9.3      2343110
1                                  The Godfather          9.2      1620367
2                                The Dark Knight          9.0      2303232
3                         The Godfather: Part II          9.0      1129952
4                                   12 Angry Men          9.0       689845
5  The Lord of the Rings: The Return of the King          8.9      1642758
6                                   Pulp Fiction          8.9      1826188
7                               Schindler's List          8.9      1213505
8                                      Inception          8.8      2067042
9                                     Fight Club          8.8      1854740

### .sort_values() 
- You can still use sort_values(). It's less efficient and less optimized than using nlargest or nsmallest, which means it can actually take longer to perform an operation.

In [18]:
movies.sort_values(by=['IMDB_Rating', 'No_of_Votes'], ascending=False).head(10)

                                    Series_Title  IMDB_Rating  No_of_Votes
0                       The Shawshank Redemption          9.3      2343110
1                                  The Godfather          9.2      1620367
2                                The Dark Knight          9.0      2303232
3                         The Godfather: Part II          9.0      1129952
4                                   12 Angry Men          9.0       689845
6                                   Pulp Fiction          8.9      1826188
5  The Lord of the Rings: The Return of the King          8.9      1642758
7                               Schindler's List          8.9      1213505
8                                      Inception          8.8      2067042
9                                     Fight Club          8.8      1854740