### DataFrame Part 3 : Pokemon 
- source - https://www.kaggle.com/datasets/abcsds/pokemon

In [1]:
import pandas as pd

In [2]:
pokemons = pd.read_csv('Pokemon.csv', index_col='#')
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
pokemons.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [4]:
pokemons.describe().round()

       Total     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
count  800.0  800.0   800.0    800.0    800.0    800.0  800.0       800.0
mean   435.0   69.0    79.0     74.0     73.0     72.0   68.0         3.0
std    120.0   26.0    32.0     31.0     33.0     28.0   29.0         2.0
min    180.0    1.0     5.0      5.0     10.0     20.0    5.0         1.0
25%    330.0   50.0    55.0     50.0     50.0     50.0   45.0         2.0
50%    450.0   65.0    75.0     70.0     65.0     70.0   65.0         3.0
75%    515.0   80.0   100.0     90.0     95.0     90.0   90.0         5.0
max    780.0  255.0   190.0    230.0    194.0    230.0  180.0         6.0

In [5]:
pokemons.describe(exclude=['int', 'float'])

             Name Type 1  Type 2 Legendary
count         800    800     414       800
unique        800     18      18         2
top     Bulbasaur  Water  Flying     False
freq            1    112      97       735