### String operations
- Note : Strings are object but objects are not string

In [1]:
import pandas as pd

In [3]:
pokemons = pd.read_csv('Pokemon.csv', index_col='#')
pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [5]:
# pokemons['Name'].upper()    # Does not work as dataframe treat it as object not string.

In [6]:
# pokemons['Name'].astype(str).upper()   # Does not work either

In [ ]:
pokemons['Name'].str.upper()       # It works

#
1                  BULBASAUR
2                    IVYSAUR
3                   VENUSAUR
3      VENUSAURMEGA VENUSAUR
4                 CHARMANDER
               ...
719                  DIANCIE
719      DIANCIEMEGA DIANCIE
720      HOOPAHOOPA CONFINED
720       HOOPAHOOPA UNBOUND
721                VOLCANION
Name: Name, Length: 800, dtype: object

##### Everytime you want to use string method, you need to use .str first

In [8]:
# pokemons['Attack'].str.upper()      # It doesn't work with non-string values

In [ ]:
pokemons['Name'].str.lower()         # Lower string

#
1                  bulbasaur
2                    ivysaur
3                   venusaur
3      venusaurmega venusaur
4                 charmander
               ...
719                  diancie
719      dianciemega diancie
720      hoopahoopa confined
720       hoopahoopa unbound
721                volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
pokemons['Name'].str[::-1]      # Reverse string

#
1                  ruasabluB
2                    ruasyvI
3                   ruasuneV
3      ruasuneV ageMruasuneV
4                 rednamrahC
               ...
719                  eicnaiD
719      eicnaiD ageMeicnaiD
720      denifnoC apooHapooH
720       dnuobnU apooHapooH
721                noinacloV
Name: Name, Length: 800, dtype: object

##### Can also be used for filtering

In [ ]:
x_filter = pokemons['Name'].str.contains('q', case=False)      # Whether to ignore case or not
pokemons[x_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
195,Quagsire,Water,Ground,430,95,85,85,65,65,35,2,False
211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False
284,Masquerain,Bug,Flying,414,70,60,62,80,82,60,3,False
384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False
651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False

#### Some other string opearations
- .startswith()
- .endswith()
- .replace()

In [ ]:
name_filter = pokemons['Name'].str.startswith('Do')      # It's case sensitive
pokemons[name_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
85,Dodrio,Normal,Flying,460,60,110,70,60,60,100,1,False
232,Donphan,Ground,NaN,500,90,120,120,60,60,50,2,False
680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False

In [ ]:
name_filter = pokemons['Name'].str.endswith('chu')      # It's case sensitive
pokemons[name_filter]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False

In [19]:
pokemons['Type 1'].str.replace('Grass', 'Vegan')

#
1        Vegan
2        Vegan
3        Vegan
3        Vegan
4         Fire
        ...
719       Rock
719       Rock
720    Psychic
720    Psychic
721       Fire
Name: Type 1, Length: 800, dtype: object

In [ ]:
pokemons['Type 1'] = pokemons['Type 1'].str.replace('Grass', 'Vegan')
pokemons[pokemons['Type 1'] == 'Vegan']    # Display all the vegan pokemons

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Vegan,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Vegan,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Vegan,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Vegan,Poison,625,80,100,123,122,120,80,1,False
43,Oddish,Vegan,Poison,320,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
650,Chespin,Vegan,NaN,313,56,61,65,48,45,38,6,False
651,Quilladin,Vegan,NaN,405,61,78,95,56,58,57,6,False
652,Chesnaught,Vegan,Fighting,530,88,107,122,74,75,64,6,False
672,Skiddo,Vegan,NaN,350,66,65,48,62,57,52,6,False
673,Gogoat,Vegan,NaN,531,123,100,62,97,81,68,6,False

#### String ops on index and columns

In [21]:
pokemons = pd.read_csv('Pokemon.csv', index_col='Name')
pokemons

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [22]:
# Using .str on columns
pokemons.columns.str.upper()

Index(['#', 'TYPE 1', 'TYPE 2', 'TOTAL', 'HP', 'ATTACK', 'DEFENSE', 'SP. ATK',
       'SP. DEF', 'SPEED', 'GENERATION', 'LEGENDARY'],
      dtype='object')

In [23]:
pokemons.columns = pokemons.columns.str.upper()    # We can use this to rename our columns
pokemons

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True

In [24]:
# Using .str on index
pokemons.index.str.upper()

Index(['BULBASAUR', 'IVYSAUR', 'VENUSAUR', 'VENUSAURMEGA VENUSAUR',
       'CHARMANDER', 'CHARMELEON', 'CHARIZARD', 'CHARIZARDMEGA CHARIZARD X',
       'CHARIZARDMEGA CHARIZARD Y', 'SQUIRTLE',
       ...
       'NOIBAT', 'NOIVERN', 'XERNEAS', 'YVELTAL', 'ZYGARDE50% FORME',
       'DIANCIE', 'DIANCIEMEGA DIANCIE', 'HOOPAHOOPA CONFINED',
       'HOOPAHOOPA UNBOUND', 'VOLCANION'],
      dtype='object', name='Name', length=800)

In [ ]:
pokemons.index.str[:5]      # We can use this to rename our entire index

Index(['Bulba', 'Ivysa', 'Venus', 'Venus', 'Charm', 'Charm', 'Chari', 'Chari',
       'Chari', 'Squir',
       ...
       'Noiba', 'Noive', 'Xerne', 'Yvelt', 'Zygar', 'Dianc', 'Dianc', 'Hoopa',
       'Hoopa', 'Volca'],
      dtype='object', name='Name', length=800)

In [26]:
pokemons.index = pokemons.index.str[:5]
pokemons

,#,TYPE 1,TYPE 2,TOTAL,HP,ATTACK,DEFENSE,SP. ATK,SP. DEF,SPEED,GENERATION,LEGENDARY
Name,,,,,,,,,,,,
Bulba,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysa,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venus,3,Grass,Poison,525,80,82,83,100,100,80,1,False
Venus,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charm,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Dianc,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
Dianc,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
Hoopa,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
Hoopa,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volca,721,Fire,Water,600,80,110,120,130,90,70,6,True